
movies.csv
DATA607_final_project_scratch_files/libs/bootstrap/bootstrap-icons.css
DATA607_final_project_scratch_files/libs/bootstrap/bootstrap-icons.woff
DATA607_final_project_scratch_files/libs/bootstrap/bootstrap.min.css
DATA607_final_project_scratch_files/libs/bootstrap/bootstrap.min.js
DATA607_final_project_scratch_files/libs/clipboard/clipboard.min.js
DATA607_final_project_scratch_files/libs/quarto-html/anchor.min.js
DATA607_final_project_scratch_files/libs/quarto-html/popper.min.js
DATA607_final_project_scratch_files/libs/quarto-html/quarto-syntax-highlighting.css
DATA607_final_project_scratch_files/libs/quarto-html/quarto.js
DATA607_final_project_scratch_files/libs/quarto-html/tippy.css
DATA607_final_project_scratch_files/libs/quarto-html/tippy.umd.min.js
